<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Inicio de sesión"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page p-t-15">        
        <Label class="m-t-10 text-center" text="SuVenta Móvil"></Label>

        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" hint="Usuario" autocorrect="false" autocapitalization="none" keyboardType="email"
            [(ngModel)]="user" autocorrect="false"></TextField>
        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" hint="Contrasña" secure="true" autocorrect="false" autocapitalization="none"
            [(ngModel)]="password"></TextField>

        <Button class="btn btn-primary" text="Entrar" (tap)="onSigninButtonTap()"></Button>
        <!-- <Label class="m-t-10 m-b-10 m-l-15 m-r-15" text="Forgot password?" (tap)="onForgotPasswordTap()"></Label> -->
    </StackLayout>
</ScrollView>

