<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Caja"></Label>
</ActionBar>

<DockLayout backgroundColor="lightgray" stretchLastChild="true">
    <ScrollView>
        <FlexboxLayout flexDirection="column" dock="left">    
            <Button dock="top" class="btn btn-primary" text="+/-"></Button>
            <Button dock="top" class="btn btn-primary" text="%"></Button>
            <Button dock="top" class="btn btn-primary" text="-"></Button>
        </FlexboxLayout>
    </ScrollView>
    <Label text="left" dock="top" backgroundColor="red"></Label>
    <Label text="top" dock="top" backgroundColor="green"></Label>
    <Label text="right" dock="right" backgroundColor="blue"></Label>
    <Label text="bottom" dock="bottom" backgroundColor="yellow"></Label>
</DockLayout>
    

