 <ActionBar title="Ejer" class="action-bar">
  </ActionBar>
  
  <TabView selectedIndex="0" >
    <ScrollView *tabItem="{title:'UI Components'}">
      <StackLayout class="form m-l-5">
        <Label text="Name:" class="text-primary"></Label>
        <TextField
          [(ngModel)]="profile.name"
          hint="name">
        </TextField>
  
        <Label text="Password:" class="text-primary"></Label>
        <TextField
          [(ngModel)]="profile.password"
          hint="password"
          secure="true">
        </TextField>
  
        <Label [text]="'Angular Pro: ' + ((profile.angularPro) ? 'Yes': 'No')" class="text-primary"></Label>
        <Switch
          [(ngModel)]="profile.angularPro"
          class="switch"
          horizontalAlignment="center">
        </Switch>
  
        <Label [text]="'Date of Birth: ' + profile.dob.toLocaleDateString()" class="text-primary"></Label>
        <DatePicker
          [(ngModel)]="profile.dob">
        </DatePicker>

        <Label [text]="'Coding power:' + profile.codingPower" class="text-primary" [class.spin]="profile.codingPower > 7"></Label>
        <Slider
          [(ngModel)]="profile.codingPower"
          [minValue]="0"
          [maxValue]="10"
          class="slider"
          [class.danger-slider]="profile.codingPower > 7">
        </Slider>
        <Button text="Save" (tap)="save()" class="btn btn-primary"></Button>
        <Button text="Clear" (tap)="clear()" class="btn btn-outline"></Button>
      </StackLayout>  
    </ScrollView>
  
    <GridLayout *tabItem="{title:'DataForm'}" rows="*, auto, auto">
      <RadDataForm [source]="profile" row="0">
     <TKEntityProperty tkDataFormProperty name="name" displayName="displayName" index="1"></TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="score" displayName="Score" index="2">
        <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
      </TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="date" displayName="Date" index="3">
        <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
      </TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="component" displayName="Component" index="4" [valuesProvider]="components">
        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
      </TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="note" displayName="Note" index="5">
        <TKPropertyEditor tkEntityPropertyEditor type="MultilineText"></TKPropertyEditor>
      </TKEntityProperty>
      </RadDataForm>
      <Button text="Save" (tap)="save()" class="btn btn-primary" row="1"></Button>
      <Button text="Clear" (tap)="clearForm()" class="btn btn-primary" row="2"></Button>
      
    </GridLayout>
  </TabView>
   
 